@font-face {
	font-family: 'Roboto';
	src: url("Roboto-Regular.ttf");
}

@font-face {
	font-family: 'Roboto-Light';
	src: url("Roboto-Light.ttf");
}

@font-face {
	font-family: 'Roboto-Thin';
	src: url("Roboto-Thin.ttf");
}

* {
	margin: 0;
	padding: 0;
}

p, a, h1, h2, h3, h4, h5 {
	font-family: Roboto;
	text-decoration: none;
}

body {
	overflow: hidden;
	transition: 0.5s opacity;
}

#appbar {
	background-color: #ff5722;
	height: 15%;
	min-height: 27px;
	display: block;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
	top: 0;
	transition: margin-top 0.7s;
}

#ttl {
	font-family: Roboto-Thin;
	font-weight: bold;
	color: #fff;
	font-size: 8vh;
	cursor: default;
	display: inline-block;
	float: left;
	margin-left: 1vh;
	padding-top: 2.5vh !important;
	transition: margin-left 0.5s, margin-top 0.7s;
}

#ttl::-moz-selection {
	background-color: rgba(0, 0, 0, 0);
}

#ttl::selection {
	background-color: rgba(0, 0, 0, 0);
}

#openbutton {
	text-align: center;
	display: inline-block;
    transform: rotate(90deg);
	margin: 2vh;
	margin-left: 3vh;
	padding-bottom: 2vh;
	padding-right: 2.7vh;
	padding-left: 2.8vh;
	padding-top: 1.2vh;
	font-size: 6vh;
	color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
	border-radius: 3px;
	transition: 0.1s background-color;
	float: left;
	transition: margin-left 0.5s, margin-top 0.7s;
	z-index: 2;
}

#openbutton::-moz-selection {
	background-color: rgba(0, 0, 0, 0);
}

#openbutton::selection {
	background-color: rgba(0, 0, 0, 0);
}

#openbutton:hover {
	background-color: rgba(0, 0, 0, 0.05);
	transition: 0.1s background-color;
}

#openbutton:active {
	background-color: rgba(0, 0, 0, 0.13);
	transition: 0.5s margin-left;
}

#openbutton:active + #ttl {
	transition: 0.5s margin-left;
}

#sidenav {
	background-color: #00695c;
	width: 25%;
	height: 100%;
	left: 0;
	position: fixed;
	margin-left: -26%;
	transition: 0.5s margin-left;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	z-index: 1;
}

#sidetop {
	background-color: #009688;
	height: 15%;
	min-height: 27px;
	display: block;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

#ttl2 {
	float: right;
	font-family: Roboto-Thin;
	font-weight: bold;
	opacity: 0.54 !important;
	cursor: default;
	display: inline-block;
	font-size: 8vh;
	margin-right: 4vh;
	padding-top: 2.5vh !important;
}

#ttl2::-moz-selection {
	background-color: rgba(0, 0, 0, 0);
}

#ttl2::selection {
	background-color: rgba(0, 0, 0, 0);
}

#list {
	margin-left: 10%;
	opacity: 0;
	width: 80%;
	transition: 0.5s opacity;
}

.mi, .selected {
	color: #80d8ff;
	opacity: 0.7;
	display: block;
	width: 50%;
	background-color: rgba(0, 0, 0, 0);
	height: 4vh;
	font-size: 4vh;
	margin-top: 4vh;
	padding-top: 1.6vh;
	padding-bottom: 2.4vh;
	padding-left: 3vh;
	cursor: pointer;
	transition: 0.1s background-color;
	transition: 0.3s width;
}

.mi::-moz-selection, .selected::-moz-selection {
	background-color: rgba(0, 0, 0, 0);
}

.mi::selection, .selected::selection {
	background-color: rgba(0, 0, 0, 0);
}

.mi:hover {
	background-color: rgba(0, 0, 0, 0.2);
	width: 90%;
}

.mi:active {
	background-color: rgba(0, 0, 0, 0.4);
}

.selected {
	opacity: 0.3;
	cursor: default;
}

#main {
	background-color: #455a64;
	height: 100%;
	width: 100%;
	display: inline-block;
}

#toolbar {
	height: 10%;
	width: 100%;
	background-color: #90a4ae;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3) inset, 0px 5px 5px rgba(0, 0, 0, 0.3);
}

#ttl3 {
	float: left;
	font-family: Roboto-Thin;
	font-weight: bold;
	opacity: 0.54 !important;
	cursor: default;
	display: inline-block;
	font-size: 4.8vh;
	margin-left: 3vh;
	padding-top: 2.5vh !important;
	transition: margin-left 0.5s, margin-top 0.5s;
}

#ttl3::-moz-selection {
	background-color: rgba(0, 0, 0, 0);
}

#ttl3::selection {
	background-color: rgba(0, 0, 0, 0);
}

#cont {
	margin-top: 1vh;
	transition: margin-top 1s;
}

.listing .img {
	width: 12vw !important;
	margin-top: -3vh;
}

#i1, #i2, #i3, #i4, #i5, #i6, #i7, #i8, #i9, #i10, #i11, #i12 {
	background-color: #cfd8dc;
	width: 14vw;
	height: 28vh;
	display: inline-block;
	margin: 2vh;
	border-radius: 5px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
	text-align: center;
	cursor: pointer;
	transition: background-color 0.2s, box-shadow 0.2s, opacity 0.1s;
}

#i1:hover, #i2:hover, #i3:hover, #i4:hover, #i5:hover, #i6:hover, #i7:hover, #i8:hover, #i9:hover, #i10:hover, #i11:hover, #i12:hover {
	background-color: #eceff1;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}


/*
#i1:active, #i2:active, #i3:active, #i4:active, #i5:active, #i6:active, #i7:active, #i8:active, #i9:active, #i10:active, #i11:active, #i12:active {
	opacity: 0.54;
}
*/

.ittl {
	font-size: 2.5vh;
	opacity: 0.54;
	margin-top: 1vh;
}

.mttl {
	font-size: 2vh;
	opacity: 0.54;
}

.arrow {
	width: 2.4vh;
	float: right;
	margin-top: -1.7vh;
	margin-right: 1.3vh;
	opacity: 0;
	transition: opacity 0.2s;
}

.arrow:hover {
	opacity: 0.65 !important;
}

.arrow:active {
	opacity: 1 !important;
}